<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app/assets/stylesheets/users.scss">
    <title>User Page</title>
</head>
<body>
    
    <div class="index-page-container">
        <div class="index-page-wrapper">
            <p><%= link_to "Click here to search by song", songs_index_path %> </p>
        </div>
    </div>
    
    
</body>
</html>
