// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

:root {
    --yellow: #FFE818;
    --blue: #A4C9D8;
    --neon: #CDF567;
    --red: #FF4935;
    --grey: #E1E6E1;
    --black: #000000;
    --white: #FFFFFF;
}