// Place all the styles related to the Playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

:root {
    --yellow: #FFE818;
    --blue: #A4C9D8;
    --neon: #CDF567;
    --red: #FF4935;
    --grey: #E1E6E1;
    --black: #000000;
    --white: #FFFFFF;
    --sp-green: #1DB954;
    --sp-hover-green: #1ED760;
    --orange: #f2ae54;
}

* {
    margin: 0;
}

// ----------- PLAYLIST SHOW PAGE -----------

.playlist-page-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--yellow);
    overflow: auto;
}

.playlist-show-wrapper {
    align-self: center;
    
}
.text-wrapper > h1 {
    margin-top: 9px;
    margin-bottom: 10px;
}

.text-wrapper {
    color: #1ED760;
    font-family: 'Lato', sans-serif;
}

.playlist-show-song-name {
    // display: flex;
    font-family: 'Lato', sans-serif;
    background-color: var(--yellow);
}

.playlist-show-song-name > p:hover {
    color: var(--black);
}


.playlist-show-song-name > p {
    padding-bottom: 5px;
}

.back-button {
    padding-top: 15px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    display: table-cell;
}

.back-button {
    background-color: none;
    border: none;
    font-size: .8em;
    background-color: var(--sp-green);
    height: 34px;
    width: 300px;
    border-radius: 40px;
    font-weight: 400;
    color: white;
    text-align: center;
    
    
}

.back-button:hover {
    background-color: var(--sp-hover-green);
    border: 2px solid white;
}


 a {
    text-decoration: none;
    color: var(--black);
}

a:hover {
    text-decoration: underline;
}

// h3 {
//     background-color: none;
//     border: none;
//     font-size: 1em;
//     background-color: var(--sp-green);
//     height: 41px;
//     width: 130px;
//     margin-left: 2px;
//     border-radius: 30px;
//     font-weight: 400;
//     color: white;
// }

// ------  PLAYLIST NEW PAGE --------


.playlist-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--blue);
    font-family: 'Lato', sans-serif;


    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

    @-webkit-keyframes text-focus-in {
    0% {
    -webkit-filter: blur(12px);
        filter: blur(12px);
    opacity: 0;
    }
    100% {
    -webkit-filter: blur(0px);
        filter: blur(0px);
    opacity: 1;
    }
    }
    @keyframes text-focus-in {
    0% {
    -webkit-filter: blur(12px);
        filter: blur(12px);
    opacity: 0;
    }
    100% {
    -webkit-filter: blur(0px);
        filter: blur(0px);
    opacity: 1;
    }
    }
  
}

.playlist-wrapper {
    align-self: center;
}

.playlist-wrapper > h1 {
    font-size: 7rem;

}

.form-wrap {
    margin-top: 40px;
    margin-left: 250px
    
}

.name-title {
    font-size: 20px;
    padding-right: 20px;
}

.user-title {
    font-size: 20px;
    padding: 20px;
}

.dropdown-menu {
    padding: 20px;
}


.name-bar {
    width: 500px;
    height: 35px;
    border-radius: 30px;
}

.create-playlist-button {
    margin-left: 30px;
    background-color: none;
    border: none;
    font-size: 1em;
    background-color: var(--sp-green);
    height: 41px;
    width: 150px;
    border-radius: 30px;
    font-weight: 400;
    color: white;
}

.create-playlist-button:hover {
    border: 2px solid white;
    background-color: var(--sp-hover-green); 
}
