// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

:root {
    --yellow: #FFE818;
    --blue: #A4C9D8;
    --neon: #CDF567;
    --red: #FF4935;
    --grey: #E1E6E1;
    --black: #000000;
    --white: #FFFFFF;
    --sp-green: #1DB954;
    --sp-hover-green: #1ED760;
    --orange: #f2ae54;
}

* {
    margin: 0;
}


.bottom-index-page-cntnr {
    height: 50vh;
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    background-color: var(--neon);
}


.song-index-page-wrapper {
    height: 50vh;
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    background-color: var(--neon);
}

.song-wrapper {
    align-self: center;
}


.song-show-page-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--yellow);
    font-family: 'Lato', sans-serif;
}


.song-show-page-wrapper {
    align-self: center;
}


.song-index-page-title {
    padding-bottom: 50px;
}


.song-index-page-title>h1 {
    font-size: 80px;
}

.search-title {
    display: none;
}

.search-bar {
    width: 500px;
    height: 35px;
    border-radius: 30px;
}

.search-nav {
    margin-left: 20%;
}

.search-button {
    background-color: none;
    border: none;
    font-size: 1em;
    background-color: var(--sp-green);
    height: 41px;
    width: 130px;
    margin-left: 2px;
    border-radius: 30px;
    font-weight: 400;
    color: white;
}

.search-button:hover {
    background-color: var(--sp-hover-green);
    border: 2px solid white;
}

.bottom-index-page-cntnr>p {
    font-size: 2rem;

}

.bottom-index-wrapper>p {
    font-size: 2rem;
    padding-top: 33px;
}

#artist-name {
    padding-bottom: 10px;
}

#artist-name > a {
    color: var(--neon);
}

#track-name > a {
    text-decoration: none;
    font-weight: 500;
    color: var(--orange);  
    font-size: 20px;  
}

#track-name > a:hover {
    color: var(--black);
    text-decoration: underline;
} 

.recent-searches {
    margin-top: 50px;
}

#track-name {
    // padding-bottom: 10px;
}

.album-name {
    padding-bottom: 23px;
}

.artist-name {
    font-size: 50px;
}

.add-to-playlist-form {
    padding-bottom: 20px;
}

.artist-image {

}

.playlist-button-wrapper {
   padding-top: 10px;
}

.playlist-dropdown {
    height: 50px;
}

.add-to-playlist {
    background-color: none;
    border: none;
    font-size: 1em;
    background-color: var(--sp-green);
    height: 41px;
    width: 180px;
    margin-left: 2px;
    border-radius: 30px;
    font-weight: 400;
    color: white;
    // background-color: var(--sp-green);
    // border: none;
    // color: var(--white);
    // height: 20px;
    // width: 130px;
    // border-radius: 50px
}

.add-to-playlist:hover {
    background-color: var(--sp-hover-green);
    border: 2px solid white;
    // border: none;
    // color: var(--white);
    // height: 20px;
    // width: 130px;
    // border-radius: 50px
}
