// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
    margin: 0;
}

.song-index-page-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.song-wrapper {
    align-self: center;
}

.song-show-page-container {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.song-show-page-wrapper {
    align-self: center; 
}