// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
    margin: 0px
    font-family: 'Lato', sans-serif;
}

.index-page-container {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.index-page-wrapper {
    align-self: center;
}

.index-show-page-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    
}

.welcome-wrapper {
    align-self: center;
}

.user-search-bar {
    text-decoration: none;
}

