// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

:root {
    --yellow: #FFE818;
    --blue: #A4C9D8;
    --neon: #CDF567;
    --red: #FF4935;
    --grey: #E1E6E1;
    --black: #000000;
    --white: #FFFFFF;
}

* {
    margin: 0px
   
}

.index-page-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--yellow);
}

.index-page-wrapper {
    align-self: center;
}

.index-show-page-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    
}

.welcome-wrapper {
    align-self: center;
}

.user-search-bar {
    text-decoration: none;
}

.search-song-button {
    height: 50px;
    width: 300px; 
    background-color: #1DB954;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

.search-song-button:hover {
    background-color: #1ED760;
}


h3 {
    align-self: center;
}

h3 > a {
    color: var(--white);
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
}

