<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app/assets/stylesheets/playlists.scss">
    <title>Your Playlist</title>
</head>
<body>
    <div class="playlist-page-container">

    <div class='playlist-image'>
                <img src="<%=Song.all.sample.album.album_img%>" width="640" height="640"> 
            </div>
        <div class="playlist-wrapper">
            <h1><%=@playlist.name%></h1>

            <%=@playlist.name%>
            
            <%@playlist.songs.each do |s|%>
            <p><%= s.name%></p>
            <%end%>
        </div>
    </div>

</body>
</html>

