<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app/assets/stylesheets/playlists.scss">
    <title>Your Playlist</title>
</head>
<body>
    <div class="playlist-page-container">

   
        <div class="playlist-show-wrapper">
            
            <div class='playlist-image'>
                <img src="<%=Song.all.sample.album.album_img%>" width="640" height="640"> 
            </div> 


            <div class="text-wrapper">

                <h1><%=@playlist.name%></h1>

                <div class='playlist-show-song-name'>

                    <%@playlist.songs.each do |s|%>
                    <p><%=link_to s.name, song_path(s)%></p> 

                    <%end%>

                </div>

            </div>

            <div class="back-button"><h3><%= link_to "Click here to go back to Search Page", songs_index_path %></h3></div> 

        </div>
    </div>

</body>
</html>

